# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../../../:\Users\Admin\OneDrive\Документы\NetBeansProjects\prj_lesson8\src\main\java\com\geekbrains\prj_lesson8\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
